
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile__img{
  height: 88px;
  width: 88px;
  border-radius: 50%;
  margin: 20px;
}

.name{
  font-size: 28px;
  font-weight: 700;
}

#twitter, .btn{
  width: 100%;
  background-color: #EAECF0;
  padding: 24px 32px;
  margin: 10px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

footer{
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
}

.footer{
  font-weight: 400;
  font-size: 14px;
  color: #667085;
}